{% extends 'main.html' %}

{% block content %}
    <ul>
    {% for question in questions %}
        <li><a href="{{ question.get_url }}">{{ question }}</a></li>
    {% endfor %}
    </ul>

    <nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
                <a href="{{ paginator.baseurl }}{{ p }}">
                {{ p }}</a>
            </li>
    {% endfor %}
    </ul></nav>

    <div>User: {{ user }}</div>
    <div>Session: {{ session }}</div>
{% endblock %}